<h2>Transactions</h2>

<div class="transactions">
  <table>
    <thead>
      <tr>
        <td class="transactions-date">Date</td>
        <td class="transactions-description">Description</td>
        <td class="transactions-category">Category</td>
        <td class="transactions-amount">Amount</td>
      </tr>
    </thead>
    <tbody>
      {{#each transaction in model}}
        <tr>
          <td>{{transaction.date}}</td>
          <td>{{transaction.description}}</td>
          <td></td>
          <td>{{transaction.amount}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{ outlet }}
