<h2>Transactions</h2>

<div class="transactions">
  <table>
    <thead>
      <tr>
        <td class="transactions-date">Date</td>
        <td class="transactions-description">Description</td>
        <td class="transactions-category">Category</td>
        <td class="transactions-amount">Amount</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mon March 15 2014</td>
        <td>My Transaction</td>
        <td></td>
        <td>Amount</td>
      </tr>
    </tbody>
  </table>
</div>
